
<div>
    <form id="formularioSeguro">
        <label for="nomeSegurado">Nome do Segurado:</label><br>
        <input type="text" id="nomeSegurado" name="nomeSegurado" required><br><br>
      
        <label for="sexo">Sexo:</label><br>
        <input type="radio" id="masculino" name="sexo" value="masculino" required>
        <label for="masculino">Masculino</label><br>
        <input type="radio" id="feminino" name="sexo" value="feminino">
        <label for="feminino">Feminino</label><br><br>
      
        <label for="idade">Idade:</label><br>
        <input type="number" id="idade" name="idade" required><br><br>
      
        <label for="valorAutomovel">Valor do Automóvel:</label><br>
        <input type="number" id="valorAutomovel" name="valorAutomovel" required><br><br>
      
        <button type="button" onclick="calcularApólice()">Calcular Apólice</button>
      </form>
</div>
